{
  "development": {
    "username": "ebadmin",
    "password": "Khammam1234",
    "database": "epicbook",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "ebadmin",
    "password": "Khammam1234",
    "database": "epicbook",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}